html{
  scroll-behavior: smooth;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(#eaf6f6, #5f93f1);
}
/* -------navigation------  */
nav ul a,
nav .brand-logo {
  color: #424d6d;
  box-shadow: 10px 10xp 10px #808080;
}

p {
  line-height: 2rem;
}
#sender{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav-trigger {
  color: #26a69a;
}
.sidenav li a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}
.sidenav{
  background-image: linear-gradient(to bottom, rgb(120, 120, 238), grey);

}
#logo-container{
  box-shadow: 10px 10px 10px gray;
  text-align: center; 
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
}

.brand-logo h2{
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  /* animation-duration: 1s; */


}
.brand-logo p{
  font-size: 20px;
  text-transform: uppercase;
  /* animation-duration: 0.5s; */

}

.brand-logo img{ 
  width: 50px;
  height: 50px;
  /* animation-duration: 1.5s; */

}

.media-scrolltop{
  text-align: center;
  color: #000;
  font-size: 20px;
}

/* -----end of navigation----- */

.about{
  text-align: center;

}
.section{
  padding-top: 30px;
  display: flex;
}
.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  margin-top: 150px;

}
  .parallax-container .section {
    width: 100%;
  }
#contact{
  margin: 20px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #2c5979;

}
#offer{
  font-size: 50px;
  margin-bottom:30px ;
}
.offer-box{
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-box .bold{
  font-weight: 800;
}
.offer-box ol{
  list-style: disc;
  text-align: left;
  margin-bottom: 50px;
}
.offer-box .download{
  color: #4e4ed6;
  font-weight: 800;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.8;
}
.download:hover{
  opacity: 1;
  box-shadow: 5px 5px 10px gray;
}
.waves-effect{
  border-radius: 10px;
  float: right;
  margin-right: 100px;
}
footer{
  text-align: center;
}
.btn{
  margin: 10px;
}
.about-box{
  text-align: center;
  width: 1000px;
  font-size: 1.5rem;
}
.center p{
  width: 800px;
  font-size: 24px;
}
.footer-info{
  text-align: left;
  display: flex;
}
.footer-info .fb-icon img{
  width: 50px;
  height: 50px;
}
.icon-box img{
  width: 50px;
  height: 50px;
}
.fb-paragraph{
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.mail{
  font-size: 24px;
}
.offer-list{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.offer-box .bold{
  width: 100%;
}
/* ----media---- */

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
